<div class="app-layout">

  <app-topbar (upload)="uploadImage()" (reset)="resetAnnotations()" (save)="save()"
    (exportImage)="exportAsImage()" (exportPdf)="exportAsPDF()"></app-topbar>

  <main class="content">
    <!-- LEFT PANEL -->
    <app-annotation-list [annotations]="annotations" (rename)="renameAnn($event)"
      (remove)="deleteAnn($event)"></app-annotation-list>

    <!-- IMAGE AREA -->
    <section class="canvas-area">
      <div class="stage" #wrap (mousedown)="startDrag($event)" (mousemove)="dragMove($event)"
        (mouseup)="endDrag($event)">

        <div class="no-image" *ngIf="!imageSrc">
          <p>No image selected</p>
          <button (click)="triggerImageSelect()">Upload Image</button>
        </div>

        <input #imageInput type="file" accept="image/*" style="display: none" (change)="onImageSelected($event)" />
        <img *ngIf="imageSrc" [src]="imageSrc" alt="Loaded Family" draggable="false" />

        <svg class="overlay">
          <!-- existing annotations -->
          <ng-container *ngFor="let a of annotations">

            <!-- vertical line -->
            <line [attr.x1]="a.start.xPct * 100 + '%'" [attr.y1]="a.start.yPct * 100 + '%'"
              [attr.x2]="a.end.xPct * 100 + '%'" [attr.y2]="a.end.yPct * 100 + '%'" stroke="white" stroke-width="2">
            </line>

            <!-- number bubble -->
            <circle [attr.cx]="a.end.xPct * 100 + '%'" [attr.cy]="a.end.yPct * 100 + '%'" r="1.2%" fill="white">
            </circle>

            <text [attr.x]="a.end.xPct * 100 + '%'" [attr.y]="a.end.yPct * 100 + '%'" text-anchor="middle"
              alignment-baseline="middle" font-size="0.9rem" fill="black" font-weight="600">
              {{ a.label }}
            </text>
          </ng-container>

          <!-- LIVE DRAW WHILE DRAGGING -->
          <line *ngIf="isDragging" [attr.x1]="dragStart.xPct * 100 + '%'" [attr.y1]="dragStart.yPct * 100 + '%'"
            [attr.x2]="dragCurrent.xPct * 100 + '%'" [attr.y2]="dragCurrent.yPct * 100 + '%'" stroke="white"
            stroke-width="2" stroke-dasharray="4 2"></line>
        </svg>
      </div>
    </section>
  </main>
</div>

